* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden ;
}

body {
  background-color: #1e2223;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5f7eda;
  box-shadow: 2px 2px 3px black;
  /*animation*/
  animation-name: groove;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes groove {
  from {
    background-color:#5f7eda
  }
  to {
    background-color: salmon
  }
}

.logo, .hamburger {
  margin: 10px;
}

.logo {
  filter: drop-shadow(1px 1px 2px black);
}

.hamburger {
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px black);
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  /*position*/
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 30%;
  margin-top: 8rem;

  /* transformation */
  transform: translateY(-200%);
  transition: all 350ms;

  /* beautify */
  background-color: #52c4b7;
  border-radius: 20px;
  box-shadow: 2px 2px 3px black;
}

/********/
/* main */
/********/

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 80vw;
  margin: 30px auto;
  overflow-y: hidden;
  padding: 20px;
  border-radius: 10px;
  /*prettify*/
  background-color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;  
}

/* png container */

.characters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.bmo {
  height: auto;
  width: 15rem;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px black) saturate(0.5);
}

.finn {
  height: 25rem;
  width: 15rem;
  filter: drop-shadow(1px 1px 2px black);
  transform: translateX(200%);
  transition: all 350ms;
}

.jake {
  height: 15rem;
  width: 12rem;
  filter: drop-shadow(1px 1px 2px black);
  transform: translateX(200%);
  transition: all 350ms;
}

/* footer design */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-image: linear-gradient(#c2ffff, #3ddab4, #6c78e0);
  box-shadow: 2px 2px 3px black;
}

/* modifier */

.open-close {
  transform: translate(0);
}

.transformer {
  transform: rotate(90deg);
  transition-duration: 1s;
  filter: invert(1) drop-shadow(1px 1px 2px black);
}

/*show BMO's friends*/

.show-finn {
  transform: translate(0);
}

.show-jake {
  transform: translate(0);
}

.bmo-color {
  filter: saturate(1);
}